.nav-menu {
  display: flex;
  &__item {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 100;
    color: $text-color;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    @include underscore;

    &:hover {
      color: $active-color;
    }
    
  }
}
